#containner_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0%;
    padding-top: 60px;

    
    /* Classic fast food gradient */
    background: linear-gradient( 145deg ,rgb(22, 21, 21) 40% , rgb(255, 255, 255) );

}

#new_products {
    margin-top: 0px;
    width: 100%;
    display: flex;
    padding: 0%;

    overflow-x:scroll;
    scroll-behavior:auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
    
    
}

#new_products > li {

  list-style-type: none;

  flex: 0 0 100%;

  scroll-snap-align: center;

  text-align: center;

  animation-delay: 2s;
  

}

#new_products img {
    object-fit: contain ;
    width: 100%; 
    max-height: 400px;
    border: none;
}




#menus {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

#menus > div {

    display: flex;
    flex-direction: column;
    gap: 1.5vw;

    overflow:visible;
}

#menus p {
    color: rgba(255, 255, 255, 0.437);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0vw;
}

#menus > div > div {
    height: 125px;
    width: 125px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
    overflow: hidden;
    align-content: center;
    
}


#menus img {
    height: 130px;
    width: 130px;
    object-fit: contain;
}

#menus > div:hover {

    animation : scale 300ms forwards;
    cursor: pointer;
}



/* --- Media Queries for Responsiveness --- */

@media (min-width: 750px) {

    #new_products img {
        width: auto;
        margin-top: 50px;
        border-radius: 70px;;
    }

    #menus > div > div {
        height: 158px;
        width: 158px;
    }


    #menus img {
        width: 160px;
        height: 160px;
    }

    #menus p {
    }

}

@media (min-width: 1024px) {

    #menus {
        width: 85%;
        margin-top: 30px;
    }

    #menus > div > div {
        height: 228px;
        width: 228px;
    }


    #menus img {
        width: 250px;
        height: 250px;
    }

    #menus p {
        font-size: 38px
    }
}
