body {
    margin: 0%;
}

/* index.css */

#overlay {
    position: fixed; /* Stays in place when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    display: none; /* Hidden by default */
    backdrop-filter: blur(3px); /* Optional: Blurs the background content */
}





#nav_barr {
    width: 100%;
    background : linear-gradient(95deg ,#34030300 , rgba(128, 128, 128, 0), rgb(255, 255, 255), rgba(128, 128, 128, 0)  ,#34030300);
    box-shadow: 0px 1px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    position: fixed;
    top: 0px;
    z-index: 2;
}
#nav_barr > div {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}

.midle {
    justify-content: center;
}
.midle img {
    cursor: pointer;
}
.left {
    margin-left: 30px;
    cursor: pointer;
}
.right {
    justify-content: end;
    cursor: pointer;
}
.right img , .right .number_of_items_in_basket{
    position: absolute;
    margin-right: 30px;
}
.right .number_of_items_in_basket {
    translate: 11px -8px;
}

#nav_barr img {
    height: 100%;
    object-fit: contain;
}


.number_of_items_in_basket {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.number_of_items_in_basket p {
    margin: 0%;
}

#basket {
    width: 70%;
    background-color: white;
    border: 2px black solid;
    border-radius: 50px;


    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    padding: 0px 20px;

    padding-top: 30px;
    padding-bottom: 30px;

    display: none;

}

#basket h1 {
    justify-self: center;
    margin: 0%;
    margin-bottom: 30px;
}
#basket h2 {
    width: 100%;
    font-size: 18px;
    border-bottom: 1px black solid;
    margin: 0%;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#basket .trash {
    height: 32px;
    width: 22px;
    background: url("../medias/main/trash.svg");
    background-size: 100% 100%;
    border: none;
    padding: 0px;
}

#basket .commande {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.order_details {
    max-height: 300px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

#basket details {
    width: 100%;
    max-height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}
#basket > p {
    margin: 0%;
    justify-self: end;
    margin-right: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 18px;
}

.resume_ordre {
    width: 95%;
    height: auto;
    /* border: 1px white solid; */
    border-radius: 10px;
    justify-self: center;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.x {
    display: none;
}

.resume_ordre p {
    margin: 0%;
}
.resume_ordre .titre {
    justify-self: center;
}

.resume_ordre ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.confirmer_l_ordre, .place_order {
    display: flex;
    justify-self : center;
    align-items: center;
    justify-content: center;


    height: 50px;
    width: 160px;
    border-radius: 50px;

    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

    margin-top: 25px;
    
    color: black;
}



#footer {
    width: 100%;
    height: 200px;
}



.client-info {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 15px 5px;
    display: none;
}
.client-info > input {
    width: 100%;
    border-radius: 7px;
    height: 15px;
    padding-top: 5px;
    padding-left: 10px;
}
.apply-promo-btn {
    margin-left: 10px;
    padding: 5px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 2 / 3;
    width: 70%;
    justify-self: center;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}