#containner_tacos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0%;
    padding-top: 60px;

    background: radial-gradient( rgb(255, 106, 0) 90% , white 10%) ;
    background-size: 600% 600%;
}

#containner_tacos #sections > h1 {
    color : linear-gradient( 90deg , orange , white) ;
}



#containner_tacos .pop_up {
    background: linear-gradient( 135deg ,rgb(239, 99, 0) 30% , white) ;    
    box-shadow: -1px -1px 25px;
}

#containner_tacos .pop_up h1 {
    text-align: center;
    font-size: 22px;
    color: white;
}
#containner_tacos .pop_up > p {
    margin: 0%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 19px;
    color: white;
    justify-self: center;

    background: linear-gradient(100deg , rgb(255, 102, 0) 70%,white);
    box-shadow: 1px 1px 20px black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0px 50px;

}
#containner_tacos .pop_up img {
    width: 100%;
    object-fit: contain;
}

.tacos_size {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.tacos_size > div > div {
    height: 30vw;
    width: 40vw;
    border-radius: 15px;
    border: 1px black solid;
    display: flex;
    overflow: hidden;
}
.tacos_size > div.selected > div {
    border: 3px solid white; /* Use a noticeable color for selection */
    box-shadow: 0 0 10px white;
}

.tacos_size p {
    margin: 8px 0px 0px 0px;
    color: white;
    text-shadow: 1px 1px 10px black;
}

#containner_tacos .pop_up input {
    margin: 0%;
    align-self: center;
    height: 15px;
    width: 15px;

}

.resume_tacos {
    box-shadow: 1px 1px 15px black;
}

.resume_tacos > p ,.resume_tacos > ul{
    color: white;
    font-size: 19px;
    text-shadow: 1px 1px 10px black;
}

.confirmer_les_choix_tacos {
    background: linear-gradient(150deg , rgb(232, 75, 7) 40% ,white);
    box-shadow: 1px 1px 15px black,
                1px 1px 10px black;
    color: white;
}



.tacos_sauce {
    width: 90%;
    margin-left: 35px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tacos_sauce > div {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 90%;
    box-shadow: 1px 1px 10px;
    border-radius: 15px;
    padding: 10px;
}
.tacos_sauce input {
    height: 30px;
    width: 30px;
    margin: 0%;
}
.tacos_sauce label {
    margin: 0%;
    font-size: 17px;
}

