
    <section id="containner_boissons">



    <section id="sections">
        <h1 class="boissons">Nos boissons</h1>
    </section>

    <section id="item_menu">

        <div>
            <img src="./medias/boissons/Rodeo 50cl.jpg">
            <p class="title">Rodeo 50cl<span class="prix">1.8 €</span></p>
        </div>

        <div>
            <img src="./medias/boissons/Rodeo 33cl.jpg">
            <p class="title">Rodeo 33cl<span class="prix">1.2 €</span></p>
        </div>

        <div>
            <img src="./medias/boissons/Jus de banane.jpg">
            <p class="title">Jus de banane<span class="prix">1.8 €</span></p>
        </div>

        <!--
        <div>
            <img src="./medias/boissons/Jus d'orange.jpg">
            <p class="title">Jus d'orange<span class="prix"></span></p>
        </div>
        -->

    </section>







    <section class="quantity_popup">
        <div>
            <img>
        </div>
        <section class="quantity-selector">
            <button class="minus">-</button>
            <span class="quantity">0</span>
            <button class="plus">+</button>
        </section>
        <h1>Total<span class="total">0 €</span></h1>
        <button class="confirmer_les_choix confirmer_les_choix_tacos" style="margin-bottom: 0px; margin-top: 30px;">Ajouter au panier</button>
    </section>

    <section id="footer"></section>

    </section>
