

    <section id="containner_burger">



    <section id="sections">
        <h1 class="burgers">Nos Burgers</h1>
    </section>

    <section id="item_menu">
        <div>
            <img src="./medias/burger/caramolly.jpg">
            <p class="title">Caramolly<span class="prix">7 €</span></p>
            <p class="discription">Galette de poulet, du fromage, et nos oignons caramélisés signatures. Simple et délicieux.</p>
        </div>
        <div>
            <img src="./medias/burger/classic_burger.jpg">
            <p class="title">Classic<span class="prix">6 €</span></p>
            <p class="discription">Galette de bœuf juteuse, du fromage blanc, des tranches de tomate fraîches, et une touche de sauce. Le choix évident.</p>
        </div>
        <div>
            <img src="./medias/burger/mashroum_burger.jpg">
            <p class="title">Mashroumy<span class="prix">7 €</span></p>
            <p class="discription">Poulet haché croustillant est généreusement nappé d'une sauce crémeuse aux champignons fondante et riche, le tout surmonté de tranches de fromage.</p>
        </div>
        <div>
            <img src="./medias/burger/burger cordon-bleu.jpg">
            <p class="title">Cordon bleu<span class="prix">6.5 €</span></p>
            <p class="discription">Cordon bleu extra-croustillants, recouverts de fromage cheddar fondant, de tomate fraîche et de laitue croquante. Un classique du poulet, revisité avec générosité.</p>
        </div>

    </section>







    <section class="pop_up"  >
        <div class="dash"></div>
        <h1>Specifie ton burger</h1>

        <p class="meat_cook_p">Type de viande</p>
        <div class="meat_cook">
            <div>
                <div class="poulet"><img src="./medias/burger meat/poulet.png"></div>
                <p>Poulet</p>
            </div>
            <div class="selected">
                <div class="boeuf"><img src="./medias/burger meat/boeuf.png"></div>
                <p>Boeuf</p>
            </div>
        </div>


        <p>Supplements </p>
        <div class="supplements">
            
            <div data-name="onions">
                <div>
                    <img src="./medias/supplements/onions.jpeg">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>
            </div>
            <div data-name="carrots">
                <div>
                    <img src="./medias/supplements/carrots.jpeg">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>
            </div>
            <div data-name="tomatoes">
                <div>
                    <img src="./medias/supplements/tomatos.jpeg">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>

            </div>
            <div data-name="lettuce">
                <div>
                    <img src="./medias/supplements/lettuce.jpeg">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>

            </div>
        </div>

        <p>Extras </p>
        <div class="extra">
            <p>sauce</p>
            <div class="extra_sauce">
                
                <div data-name="mayonnaise">
                    <div>
                        <img src="./medias/sauces/mayonnaise.jpeg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="ketchup">
                    <div><img src="./medias/sauces/ketchup.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="algerienne">
                    <div><img src="./medias/sauces/alger.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="andalouse">
                    <div><img src="./medias/sauces/andalouse.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <!--
                <div data-name="zaatar" class="disabled-div">
                    <div><img src="./medias/sauces/zaatar.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
                -->
                <div data-name="pinky">
                    <div><img src="./medias/sauces/pinky.jpeg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
            </div>

            <p>Frites</p>
            <div class="extra_frites">
                
                <div data-name="fries">
                    <div>
                        <img src="./medias/pop_up/fries.jpeg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
            </div>
            
            <p>Boissons</p>
            <div class="extra_boissons">
                
                <div data-name="Rodeo 50cl">
                    <div>
                        <img src="./medias/boissons/Rodeo 50cl.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="Rodeo 33cl">
                    <div>
                        <img src="./medias/boissons/Rodeo 33cl.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <!--
                <div data-name="Jus d'orange">
                    <div>
                        <img src="./medias/boissons/orange_juice.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
                -->

                <div data-name="Jus de banane">
                    <div>
                        <img src="./medias/boissons/Jus de banane.jpg">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

            </div>

        </div>

        <p>Resumé des choix : </p>
        <div class="resume resume_burger">
            <p class="titre">type de viande : </p> <p class="meat_cook_resume">Grillé</p>
            <p class="titre">Supplements : </p> <ul> <li> Onions</li> <li> Frommage</li></ul>
            <p class="titre">Extras : </p> <ul> <li> Sauce Pinky</li> <li> Rodeo 50cl x2</li></ul>
            <p class="titre">Total : </p> <p class="total">0 €</p>
        </div>

        <button class="confirmer_les_choix">Ajouter au panier</button>

    </section>

    <section id="footer"></section>

    </section>
