
    <section id="containner_desserts">



    <section id="sections">
        <h1 class="desserts">Nos Desseerts</h1>
    </section>

    <section id="item_menu">

        <div>
            <img src="./medias/desserts/Raib ( grand ).jpg">
            <p class="title">Raib ( grand )<span class="prix">1.8 €</span></p>
            <p class="discription">Un Yogurt traditionnelle Marocain , frais et delicieux .</p>
        </div>

        <div>
            <img src="./medias/desserts/Raib ( petit ).jpg">
            <p class="title">Raib ( petit )<span class="prix">1.2 €</span></p>
            <p class="discription">Un Yogurt traditionnelle Marocain , frais et delicieux .</p>
        </div>

        <div class="disabled-div">
            <img src="./medias/desserts/Flan.jpg">
            <p class="title">Flan<span class="prix">? €</span></p>
            <p class="discription">Flan venizuelien.</p>
        </div>

    </section>







    <section class="quantity_popup">
        <div>
            <img>
        </div>
        <section class="quantity-selector">
            <button class="minus">-</button>
            <span class="quantity">0</span>
            <button class="plus">+</button>
        </section>
        <h1>Total<span class="total">0 €</span></h1>
        <button class="confirmer_les_choix confirmer_les_choix_tacos" style="margin-bottom: 0px; margin-top: 30px;">Ajouter au panier</button>
    </section>

    <section id="footer"></section>

    </section>


