    
    <section id="containner_main" >

    <ul id="new_products">
        <li class="one"><img src="../medias/main/ads/burger.png"></li>
        <li class="two"><img src="../medias/main/ads/raib.png"></li>
    </ul>

    <section id="menus">
        <div><div class="burgers"><img src="../medias/main/burger.png"></div><p>Burgers</p></div>
        <div><div class="tacos"><img src="../medias/main/tacos.png"></div><p>Tacos</p></div>
        <div><div class="sandwiches" ><img src="../medias/main/sandwich.png"></div><p>Sandwichs</p></div>
        <div><div class="dessert"><img src="../medias/main/dessert.png"></div><p>Desserts</p></div>
        <div><div class="our_sauce"><img src="../medias/main/sauces.png"></div><p>Sauces</p></div>
        <div><div class="boissons"><img src="../medias/main/drinks.png"></div><p>Boissons</p></div>
    </section>

    <section id="footer"></section>

    </section>

