    
    <section id="containner_main" >

    <ul id="new_products">
        <li class="one"><img class="burger" src="./medias/main/ads/burger ad.jpg"></li>
        <li class="two"><img class="dessert" src="./medias/main/ads/raib ad.jpg"></li>
    </ul>

    <section id="menus">
        <div><div class="burgers"><img src="./medias/main/burger.jpg"></div><p>Burgers</p></div>
        <div><div class="tacos"><img src="./medias/main/tacos.png"></div><p>Tacos</p></div>  
        <div><div class="boissons"><img src="./medias/main/drinks.jpeg"></div><p>Boissons</p></div>
        <div><div class="dessert"><img src="./medias/main/desserts.jpg"></div><p>Desserts</p></div>  
        <div class="disabled-div"><div class="sandwiches" ><img src="./medias/main/sandwich.jpg"></div><p>Sandwichs</p></div>
    <!--<div><div class="our_sauce"><img src="./medias/main/sauces.jpg"></div><p>Sauces</p></div> --> 
    </section>

    <section id="footer"></section>

    </section>

