<section id="containner_tacos">

    <section id="sections">
        <h1 class="tacos">Nos Tacos</h1>
    </section>

    <section id="item_menu">
        <div>
            <img src="../medias/tacos/tacos poulet.png">
            <p class="title">Poulet Nature <span class="prix">7 €</span></p>
            <p class="discription">galette de bœuf grillée, du fromage fondant, et nos oignons caramélisés signatures. Simple et délicieux.</p>
        </div>
        <div>
            <img src="../medias/tacos/tacos poulet marinée.png">
            <p class="title">Poulet Marinée <span class="prix">7 €</span></p>
            <p class="discription">galette de bœuf grillée, du fromage fondant, et nos oignons caramélisés signatures. Simple et délicieux.</p>
        </div>
        <div>
            <img src="../medias/tacos/tacos kefta.png">
            <p class="title">Kefta<span class="prix">7.5 €</span></p>
            <p class="discription">une galette de bœuf juteuse, du fromage blanc fondant, des tranches de tomate fraîches, de la laitue croquante et une touche de sauce. Le choix évident.</p>
        </div>
        <div>
            <img src="../medias/tacos/tacos_nuggets.png">
            <p class="title">Nuget Poulet<span class="prix">7 €</span></p>
            <p class="discription">apoulet haché croustillant est généreusement nappé d'une sauce crémeuse aux champignons fondante et riche, le tout surmonté de tranches de fromage blanc. Une texture incomparable.</p>
        </div>

    </section>

    <section class="pop_up"  >
        <div class="dash"></div>
        <h1>Percise your Tacos </h1>

        <p>How do you like your meat ?</p>
        <div class="tacos_size meat_cook">
            <div>
                <div class="xl"><img src="../medias/sizes/Xl.png"></div>
                <p>XL</p>
            </div>
            <div>
                <div class="l"><img src="../medias/sizes/L.png"></div>
                <p>L</p>
            </div>
            <div>
                <div class="s"><img src="../medias/sizes/s.png"></div>
                <p>S</p>
            </div>
            <div class="selected">
                <div class="m"><img src="../medias/sizes/M.png"></div>
                <p>M</p>
            </div>
        </div>

        <p class="tacos_sauce_title">How do you like your meat ?</p>
        <div class="tacos_sauce">
            <div><input type="radio" name="sauce" value="Pinky"> <label>Sauce Pinky</label></div>
            <div><input type="radio" name="sauce" value="Andalous"><label>Sauce Andalous</label></div>
            <div><input type="radio" name="sauce" value="Algerienne"><label>Sauce Algerienne</label></div>
            <div><input type="radio" name="sauce" value="Biggie"><label>Sauce Biggie</label></div>
            <div><input type="radio" name="sauce" value="Zaatar"><label>Sauce Zaatar</label></div>
            <div><input type="radio" name="sauce" value="Mayonnaise"><label>Sauce Mayonnaise</label></div>
            <div><input type="radio" name="sauce" value="Ketchup"><label>Ketchup</label></div>
        </div>

        <p>Supplements </p>
        <div class="supplements">
            
            <div data-name="onions">
                <div>
                    <img src="../medias/supplements/onions.png">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>
            </div>
            <div data-name="carrots">
                <div>
                    <img src="../medias/supplements/carrots.png">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>
            </div>
            <div data-name="tomatoes">
                <div>
                    <img src="../medias/supplements/tomatos.png">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>

            </div>
            <div data-name="lettuce">
                <div>
                    <img src="../medias/supplements/lettuce.png">
                </div>
                <section class="quantity-selector">
                    <button class="minus">-</button>
                    <span class="quantity">0</span>
                    <button class="plus">+</button>
                </section>

            </div>
        </div>

        <p>Extras </p>
        <div class="extra">
            <p>sauce</p>
            <div class="extra_sauce">
                
                <div data-name="mayonnaise">
                    <div>
                        <img src="../medias/sauces/mayonnaise.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="ketchup">
                    <div><img src="../medias/sauces/ketchup.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="algerienne">
                    <div><img src="../medias/sauces/alger.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="zaatar">
                    <div><img src="../medias/sauces/zaatar.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
                <div data-name="pinky">
                    <div><img src="../medias/sauces/pinky.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
            </div>

            <p>Frites</p>
            <div class="extra_frites">
                
                <div data-name="fries">
                    <div>
                        <img src="../medias/pop_up/fries.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>
            </div>
            
            <p>Boissons</p>
            <div class="extra_boissons">
                
                <div data-name="Rodeo 50cl">
                    <div>
                        <img src="../medias/drinks/rodeo50cl.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="Rodeo 33cl">
                    <div>
                        <img src="../medias/drinks/rodeo33cl.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="Jus d'orange">
                    <div>
                        <img src="../medias/drinks/orange_juice.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

                <div data-name="Jus de banane">
                    <div>
                        <img src="../medias/drinks/banana_juice.png">
                    </div>
                    <section class="quantity-selector">
                        <button class="minus">-</button>
                        <span class="quantity">0</span>
                        <button class="plus">+</button>
                    </section>
                </div>

            </div>

        </div>

        <p>Resumé des choix : </p>
        <div class="resume resume_tacos">
            <p class="titre">Taille du tacos : </p> <p class="meat_cook_resume">Grillé</p>
            <p class="titre">Sauce choisis : </p> <p class="sauce">Andalous</p>
            <p class="titre">Supplements : </p> <ul> <li> Onions</li> <li> Frommage</li></ul>
            <p class="titre">Extras : </p> <ul> <li> Sauce Pinky</li> <li> Rodeo 50cl x2</li></ul>
            <p class="titre">Total : </p> <p class="total">0€</p>
        </div>

        <button class="confirmer_les_choix confirmer_les_choix_tacos">Confirme</button>

    </section>

    <section id="footer"></section>

    </section>



